.card-img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 140px;
  padding-right: 140px;
}
.card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  
  
}
.card-title {
  background-color: #ffffff;
}
.desc {
  background-color: #ffffff;
}
.card-body {
  background-color: #fff;
}
button {
  border: none;
  padding: 15px 50px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0795ff;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}