.side-bar {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.avatar {
  height: 50px;
  border-radius: 100%;
  margin-right: 25px;
}
.nameArea {
  display: flex;
  align-items: center;
}
